In [38]:
import pandas as pd

In [39]:
df = pd.read_csv('imdb_top_1000.csv')
df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

## Question
- Create new metadata with Genre, Overview, Director and Star 1-4
- Preprocessing the text with preprocessing part 1-3
- Create recommendation system with cosine distance
- Try the recommendation system is it good or bad ?

In [40]:
import warnings
warnings.filterwarnings('ignore')

# Create Metadata Columns

In [41]:
def metadata(df):
    columns = ['Genre', 'Overview', 'Director', 'Star1', 'Star2', 'Star3','Star4']
    metadatacols = []
    for col in columns:
        metadatacols.append(df[col])
    return ' '.join(metadatacols)

In [42]:
df['Metadata'] = df.apply(metadata, axis=1)

In [43]:
df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,Metadata
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469",Drama Two imprisoned men bond over a number of...
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411","Crime, Drama An organized crime dynasty's agin..."
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444","Action, Crime, Drama When the menace known as ..."
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000","Crime, Drama The early life and career of Vito..."
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000","Crime, Drama A jury holdout attempts to preven..."

In [44]:
df_rec = df[['Series_Title', 'Metadata']]
df_rec.head()

               Series_Title                                           Metadata
0  The Shawshank Redemption  Drama Two imprisoned men bond over a number of...
1             The Godfather  Crime, Drama An organized crime dynasty's agin...
2           The Dark Knight  Action, Crime, Drama When the menace known as ...
3    The Godfather: Part II  Crime, Drama The early life and career of Vito...
4              12 Angry Men  Crime, Drama A jury holdout attempts to preven...

# Preprocessing

In [45]:
def to_lower(text):
    return text.lower()

In [46]:
contractions_dict = {    
    "ain't": "am not",
    "aren't": "are not",
    "can't": "cannot",
    "can't've": "cannot have",
    "'cause": "because",
    "could've": "could have",
    "couldn't": "could not",
    "couldn't've": "could not have",
    "didn't": "did not",
    "doesn't": "does not",
    "don't": "do not",
    "hadn't": "had not",
    "hadn't've": "had not have",
    "hasn't": "has not",
    "haven't": "have not",
    "he'd": "he had",
    "he'd've": "he would have",
    "he'll": "he will",
    "he'll've": "he will have",
    "he's": "he is",
    "how'd": "how did",
    "how'd'y": "how do you",
    "how'll": "how will",
    "how's": "how is",
    "i'd": "i had",
    "i'd've": "i would have",
    "i'll": "i will",
    "i'll've": "i will have",
    "i'm": "i am",
    "i've": "i have",
    "isn't": "is not",
    "it'd": "it had",
    "it'd've": "it would have",
    "it'll": "it will",
    "it'll've": "iit will have",
    "it's": "it is",
    "let's": "let us",
    "ma'am": "madam",
    "mayn't": "may not",
    "might've": "might have",
    "mightn't": "might not",
    "mightn't've": "might not have",
    "must've": "must have",
    "mustn't": "must not",
    "mustn't've": "must not have",
    "needn't": "need not",
    "needn't've": "need not have",
    "o'clock": "of the clock",
    "oughtn't": "ought not",
    "oughtn't've": "ought not have",
    "shan't": "shall not",
    "sha'n't": "shall not",
    "shan't've": "shall not have",
    "she'd": "she had",
    "she'd've": "she would have",
    "she'll": "she will",
    "she'll've": "she will have",
    "she's": "she is",
    "should've": "should have",
    "shouldn't": "should not",
    "shouldn't've": "should not have",
    "so've": "so have",
    "so's": "so is",
    "that'd": "that had",
    "that'd've": "that would have",
    "that's": "that is",
    "there'd": "there had",
    "there'd've": "there would have",
    "there's": "there is",
    "they'd": "they had",
    "they'd've": "they would have",
    "they'll": "they will",
    "they'll've": "they will have",
    "they're": "they are",
    "they've": "they have",
    "to've": "to have",
    "wasn't": "was not",
    "we'd": "we had",
    "we'd've": "we would have",
    "we'll": "we will",
    "we'll've": "we will have",
    "we're": "we are",
    "we've": "we have",
    "weren't": "were not",
    "what'll": "what will",
    "what'll've": "what will have",
    "what're": "what are",
    "what's": "what is",
    "what've": "what have",
    "when's": "when is",
    "when've": "when have",
    "where'd": "where did",
    "where's": "where is",
    "where've": "where have",
    "who'll": "who will",
    "who'll've": "who will have",
    "who's": "who is",
    "who've": "who have",
    "why's": "why is",
    "why've": "why have",
    "will've": "will have",
    "won't": "will not",
    "won't've": "will not have",
    "would've": "would have",
    "wouldn't": "would not",
    "wouldn't've": "would not have",
    "y'all": "you all",
    "y'all'd": "you all would",
    "y'all'd've": "you all would have",
    "y'all're": "you all are",
    "y'all've": "you all have",
    "you'd": "you had",
    "you'd've": "you would have",
    "you'll": "you will",
    "you'll've": "you will have",
    "you're": "you are",
    "you've": "you have"
}

In [47]:
def remove_contraction(text):

    list_kata = text.split()
    list_hasil = []

    for kata in list_kata:

        if kata in contractions_dict.keys():
            list_hasil.append(contractions_dict[kata])
        else:
            list_hasil.append(kata)

    hasil = ' '.join(list_hasil)
    return hasil

In [48]:
def remove_number(text):
    hasil = ''.join([char for char in text if not char.isnumeric()])
    return hasil

In [49]:
from string import punctuation

In [50]:
def remove_punctuation(text):
    hasil = ''.join([char for char in text if not char in punctuation])
    return hasil

In [51]:
import nltk
from nltk.corpus import stopwords

In [52]:
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [53]:
stop_words = stopwords.words('english')

In [54]:
# 'not' tidak dianggap sebagai stopwords
stop_words.remove('not')

In [55]:
def remove_stopwords(text):
    hasil = ' '.join([kata for kata in text.split() if kata not in stop_words])
    return hasil

In [56]:
def remove_whitespace(text):
    hasil = ' '.join(text.split())
    return hasil

In [57]:
from nltk.stem import SnowballStemmer, WordNetLemmatizer

In [58]:
stemmer = SnowballStemmer('english')

In [59]:
def stem(text):

    list_hasil = []

    for sentence in nltk.sent_tokenize(text):   # pecah paragraf menjadi kalimat-kalimat
        for word in nltk.word_tokenize(sentence): # pecah kalimat menjadi kata-kata
            list_hasil.append(stemmer.stem(word))   # ubah kata ke kata dasarnya

    hasil = ' '.join(list_hasil)
    return hasil

In [60]:
def combine_cleaning(your_series):
    df_rec['Metadata'] = df_rec['Metadata'].apply(to_lower)
    df_rec['Metadata'] = df_rec['Metadata'].apply(remove_contraction)
    df_rec['Metadata'] = df_rec['Metadata'].apply(remove_number)
    df_rec['Metadata'] = df_rec['Metadata'].apply(remove_punctuation)
    df_rec['Metadata'] = df_rec['Metadata'].apply(remove_stopwords)
    df_rec['Metadata'] = df_rec['Metadata'].apply(remove_whitespace)
    df_rec['Metadata'] = df_rec['Metadata'].apply(stem)

    return df

In [61]:
combine_cleaning(df_rec['Metadata'])
df_rec.head()

               Series_Title                                           Metadata
0  The Shawshank Redemption  drama two imprison men bond number year find s...
1             The Godfather  crime drama organ crime dynasti age patriarch ...
2           The Dark Knight  action crime drama menac known joker wreak hav...
3    The Godfather: Part II  crime drama earli life career vito corleon new...
4              12 Angry Men  crime drama juri holdout attempt prevent misca...

# Reccomendation System

In [62]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import word_tokenize

In [63]:
tf = CountVectorizer(stop_words='english', tokenizer=word_tokenize) 
bow = tf.fit_transform(df_rec['Metadata'])

In [64]:
from sklearn.metrics.pairwise import cosine_distances

In [66]:
idx = 0

content = df_rec.loc[idx, 'Metadata']
watched = tf.transform([content])
dist = cosine_distances(watched, bow)
rec_idx = dist.argsort()[0, 1:11]
df_rec.loc[rec_idx]

,Series_Title,Metadata
505,Mystic River,crime drama mysteri live three men childhood f...
817,Short Cuts,comedi drama daytoday live sever suburban los ...
773,Brokeback Mountain,drama romanc stori forbidden secret relationsh...
167,Unforgiven,drama western retir old west gunsling william ...
68,Oldeuboi,action drama mysteri kidnap imprison fifteen y...
234,Million Dollar Baby,drama sport determin woman work harden box tra...
671,Awakenings,biographi drama victim enceph epidem mani year...
877,Dark Waters,biographi drama histori corpor defens attorney...
311,The Shop Around the Corner,comedi drama romanc two employe gift shop bare...
350,Dev.D,drama romanc break childhood sweetheart young ...

In [67]:
idx = 2

content = df_rec.loc[idx, 'Metadata']
watched = tf.transform([content])
dist = cosine_distances(watched, bow)
rec_idx = dist.argsort()[0, 1:11]
df_rec.loc[rec_idx]

              Series_Title                                           Metadata
155          Batman Begins  action adventur train mentor batman begin figh...
63   The Dark Knight Rises  action adventur eight year joker reign anarchi...
36            The Prestige  drama mysteri scifi tragic accid two stage mag...
241      Kill Bill: Vol. 1  action crime drama awaken fouryear coma former...
774           3:10 to Yuma  action crime drama smalltim rancher agre hold ...
832      Empire of the Sun  action drama histori young english boy struggl...
968           Falling Down  action crime drama ordinari man frustrat vario...
33                   Joker  crime drama thriller gotham citi mental troubl...
217         Ford v Ferrari  action biographi drama american car design car...
782            Man on Fire  action crime drama mexico citi former cia oper...

# Save

In [68]:
import pickle

In [69]:
pickle.dump(tf, open("vector.pkl", "wb"))

In [70]:
pickle.dump(bow, open("sparse_matrix.pkl", "wb"))

In [71]:
df_rec['Poster_Link'] = df['Poster_Link']
df_rec

,Series_Title,Metadata,Poster_Link
0,The Shawshank Redemption,drama two imprison men bond number year find s...,https://m.media-amazon.com/images/M/MV5BMDFkYT...
1,The Godfather,crime drama organ crime dynasti age patriarch ...,https://m.media-amazon.com/images/M/MV5BM2MyNj...
2,The Dark Knight,action crime drama menac known joker wreak hav...,https://m.media-amazon.com/images/M/MV5BMTMxNT...
3,The Godfather: Part II,crime drama earli life career vito corleon new...,https://m.media-amazon.com/images/M/MV5BMWMwMG...
4,12 Angry Men,crime drama juri holdout attempt prevent misca...,https://m.media-amazon.com/images/M/MV5BMWU4N2...
...,...,...,...
995,Breakfast at Tiffany's,comedi drama romanc young new york socialit be...,https://m.media-amazon.com/images/M/MV5BNGEwMT...
996,Giant,drama western sprawl epic cover life texa catt...,https://m.media-amazon.com/images/M/MV5BODk3Yj...
997,From Here to Eternity,drama romanc war hawaii privat cruelli punish ...,https://m.media-amazon.com/images/M/MV5BM2U3Yz...
998,Lifeboat,drama war sever survivor torpedo merchant ship...,https://m.media-amazon.com/images/M/MV5BZTBmMj...
999,The 39 Steps,crime mysteri thriller man london tri help cou...,https://m.media-amazon.com/images/M/MV5BMTY5OD...

In [72]:
df_rec.to_csv('movie_recommendation.csv')